.container {
  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.header-title h1 {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.header-search {
  margin: 1rem auto;
}
