@import '../../assets/styles/_variables';

.search {
  display: flex;
  align-items: center;
  width: 100%;
  .search-input {
    width: inherit;
    line-height: 2.2rem;
    padding: 0 1.2rem;
    border-radius: 2rem;
    border: transparent;
    background-color: $red-light;
    color: $red;
    outline-style: none;
  }
}

.search-icon {
  margin-right: 1rem;
}
