.header-list {
  padding: 0 10px;

  .result-paragraph {
    color: #b9b9b9;
    line-height: 2.2rem;
    margin-left: 10px;
  }

  .sort-label,
  .favorites-page {
    display: flex;

    .icon {
      margin: 0 10px;
    }
  }
}
